@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.main-element {
  background-color: var(--color-background-mute);
  border-radius: var(--corner-radius);
  padding: 2rem;
}

input {
  display: block;
  background-color: var(--color-background-soft);
  color: var(--color-text);
  outline: none;
  border: 2px solid var(--color-border);

  display:block;
  width:100%;
  padding:.375rem .75rem;
  font-size:1rem;
  line-height:1.5;
  background-clip:padding-box;
  border-radius: var(--corner-radius);
}
input:focus {
  border-color: var(--color-border-hover);
  border-width: 2px;
}
input:hover {
  border-color: var(--color-border-hover);
}

input::placeholder {
  color: var(--color-text);
  opacity: 0.25;
}

.btn {
  background-color: var(--color-background-soft);
  color: var(--color-text);
  border-radius: var(--corner-radius);
  color: var(--color-text);
  border: 2px solid var(--color-border);
}

.btn:hover {
  border-color: var(--color-border-hover);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
    place-items: center;
  }
  
  html {
    overflow-y: scroll;
  }

  #app {
    display: grid;
    grid-template-areas: 
      'header'
      'main'
      'footer';
    grid-template-columns: 100%;
    justify-items: stretch;
    gap: 1rem;
    padding: 2rem 2rem 1rem 2rem;
  }

  header {
    grid-area: header;
    padding: 2rem 2rem;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      'view';
    grid-template-rows: 100%;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  router-view {
    grid-area: view;
    padding: 2rem 2rem;
  }

  footer {
    grid-area: footer;
    padding: 2rem 2rem;
  }
}
@media (max-width: 1023px) {
  #app {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    gap: 1rem;

  }
  header {
    grid-area: header;
    padding: 2rem 2rem;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      'menu'
      'view';
    grid-template-rows: 25%;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  menu {
    grid-area: menu;
    padding: 2rem 2rem;
    width: 25%;
  }
}
